<div class="form-container">
  <h2 class="title">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'session-form' }) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>

    <div class="actions" id="margin-top">
      <%= f.submit "Log in" %>
    </div>
    <%= render "devise/shared/links", class: "actions" %>
  <% end %>

</div>
